---
layout: base
---

<!-- Static Background for Internal Pages that utilize the 'page' layout -->
<div class="static-page-background"></div>

{% include header.html type="page" %}

<main class="container-fluid">
  <div class="row">
    <div class="col-12 px-md-5">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>
</main>
